<div id="container">
  <img id="imagen" src="../../../assets/Background.jpg" alt="" />
  <div id="login">
    <h2>¡Bienvenidos a Vientos Del Este Marketplace!</h2>
    <h3>Ingrese sus credenciales</h3>
    <form id="formulario">
      <input [(ngModel)]="mail" name="mail" type="text" placeholder="Email" />
      <input [(ngModel)]="pass" name="pass" type="password" placeholder="Contraseña" />
      <a href="/forgotPass">He olvidado la contraseña</a>
      <button (click)="loginUser(mail,pass)">Login</button>
    </form>
  </div>
</div>