<div>
    <div class="board">
        <h2>Aspas</h2>
        <div class="lol">
            <div id="aspaList" cdkDropList [cdkDropListData]="aspaList" class="card-list col-sm-4"
                cdkDropListConnectedTo="windmillParts" (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="predicateAspa">
                <div class="card-item" *ngFor="let item of aspaList" [cdkDragData]="item" cdkDrag>
                    <app-windmill-part-creation id="item" [coso]="item"></app-windmill-part-creation>
                </div>
            </div>
        </div>
    </div>

    <div class="board">
        <h2>Cuerpo</h2>
        <div class="lol">
            <div id="cuerpoList" cdkDropList [cdkDropListData]="cuerpoList" class="card-list col-sm-4"
                cdkDropListConnectedTo="windmillParts" (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="predicateCuerpo">
                <div class="card-item" *ngFor="let item of cuerpoList" cdkDrag [cdkDragData]="item">
                    <app-windmill-part-creation id="item" [coso]="item"></app-windmill-part-creation>
                </div>
            </div>
        </div>
    </div>
    <div class="board">
        <h2>Base</h2>
        <div class="lol">
            <div id="baseList" cdkDropList [cdkDropListData]="baseList" class="card-list col-sm-4"
                cdkDropListConnectedTo="windmillParts" (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="predicateBase">
                <div class="card-item" *ngFor="let item of baseList" cdkDrag [cdkDragData]="item">
                    <app-windmill-part-creation id="item" [coso]="item"></app-windmill-part-creation>
                </div>
            </div>
        </div>
    </div>
    <div class="nomMolino">
        <label for="nombre"> Nombre: </label>
        <input type="text" id="nombre" name="nombreMolino" [(ngModel)]="nombreMolino">
        <label for="descripcion">Descripcion: </label>
        <input type="text" id="descripcion" name="descripcionMolino" [(ngModel)]="descripcionMolino">
    </div>
    <div>
        <button class="btn btn-lg" (click)="agregarMolino(nombreMolino,descripcionMolino)">Agregar Molino</button>
    </div>
</div>