<!-- Detalles Molino -->
<ng-template #modalDetails let-c="close" let-d="dismiss">
    <div class="modal-header fm">
        <h5 class="modal-title " id="staticBackdropLabelAgregar">Detalles del Molino</h5>
        <button type="button" class="btn btn-close fr" data-bs-dismiss="modalDetails" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body" *ngIf="molino">
        <h1>{{molino._id}}</h1>
        <div class="row">
            <div class="col-sm-12 col-md-4" *ngIf="aspa">
                <div class="row">
                    <h3 class="text-center h1">Aspa: {{aspa.nombre}}</h3>
                </div>
                <div class="row">
                    <img src="{{imagenAspa}}">
                </div>
                <div class="row">
                    <p>Altura: {{aspa.altura}}</p>
                    <p>Resistencia al viento: {{aspa.resistenciaEolica}}</p>
                    <p>Material: {{aspa.material}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" *ngIf="cuerpo">
                <div class="row">
                    <h3 class="text-center h1">Cuerpo: {{cuerpo.nombre}}</h3>
                </div>
                <div class="row">
                    <img src="{{imagenCuerpo}}">
                </div>
                <div class="row">
                    <p>Altura: {{cuerpo.altura}}</p>
                    <p>Resistencia al viento: {{cuerpo.resistenciaEolica}}</p>
                    <p>Material: {{cuerpo.material}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" *ngIf="base">
                <div class="row">
                    <h3 class="text-center h1">Base: {{base.nombre}}</h3>
                </div>
                <div class="row">
                    <img src="{{imagenBase}}">
                </div>
                <div class="row">
                    <p>Altura: {{base.altura}}</p>
                    <p>Resistencia al viento: {{base.resistenciaEolica}}</p>
                    <p>Material: {{base.material}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="approveWindmill();"
            aria-multiselectable="close">Aprobar</button>

        <button type="button" class="btn btn-warning" (click)="rejectedWindmill()"
            aria-multiselectable="close">Rechazar</button>
    </div>
</ng-template>
<button id=" edit" (click)="open(modalDetails)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Auditar</button>