.card {
    min-width: 100%;
    border: 1px;
    border-radius: 8px;
    text-align: center;
    color: rgb(131, 129, 127);

}

.card:hover {
    transform: scale(1.10);
    position: relative;
    z-index: 5;
}

h5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    color: #043041;
}

p {
    margin: 0em;
    margin: 0px;
}

img {
    border-radius: 0.5rem;
    width: 10rem;
}

body {
    background-color: #e7ecef;
}

.card-body {
    padding: 0.5rem;
}