.card {
    // padding: 0.5rem;
    // font-family: Georgia, serif;
    // background-color: #e7ecef;
    // margin: 0rem;
    // width: 100%;
    // height: 100%;
    border: 1px solid #1d90ce;
    border-radius: 8px;
    text-align: center;
    color: #1d90ce;


}

.card:hover {
    transform: scale(1.10);
    position: relative;
    z-index: 5;
}

h5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    color: #001219;
}

p {
    margin: 0em;
    margin: 0px;
}

img {
    border-radius: 0.5rem;
    width: 10rem;
}

body {
    background-color: #e7ecef;
}

.card-body {
    padding: 0.5rem;
}