<div class="card">
  <div class="picture" *ngIf="coso">
    <img src="{{coso.picture}}" class="img-fluid rounded-start" alt="...">
  </div>
  <div *ngIf="coso" class="card-body">
    <div>
      <h5> {{coso.nombre}}</h5>
      <p>Categoria: {{coso.categoria}}</p>
      <p>Material: {{coso.material}}</p>
      <p>Height: {{coso.altura}}</p>
      <p>Wind Resistance: {{coso.resistenciaEolica}}</p>
    </div>
    <div>
      <app-modal-delete-part (deletePart)="deleteWindmillPart()"></app-modal-delete-part>
      <app-modal-edit-windmill-part [windmillPartEdit]="coso">
      </app-modal-edit-windmill-part>
    </div>
  </div>
</div>