<div class="card">
  <div class="picture" *ngIf="coso">
    <img src="{{coso.picture}}" class="img-fluid rounded-start" alt="...">
  </div>
  <div *ngIf="coso" class="card-body">
    <div>
      <h5> {{coso.name}}</h5>
      <p>Id: {{coso.id}}</p>
      <p>Material: {{coso.material}}</p>
      <p>Height: {{coso.height}}</p>
      <p>Wind Resistance: {{coso.windResistance}}</p>
    </div>
    <div>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div>
      <app-modal-delete-part (deletePart)="deleteWindmillPart()"></app-modal-delete-part>
      <app-modal-edit-windmill-part (editPart)="editWindmillPart($event)" [windmillPartEdit]="coso">
      </app-modal-edit-windmill-part>
    </div>
  </div>
</div>