button {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;

}

body {
    background-color: #e7ecef;
}

#delete {
    background-color: #dc2f02;
}

#delete:hover {
    background-color: #780000;
    color: azure;
}