button {
    padding: 0.5em;
    border-radius: 1em;
    margin: 0.5em;

}

body {
    background-color: #e7ecef;
}

#delete {
    background-color: #dc2f02;
}

#delete:hover {
    background-color: #780000;
    color: azure;
}