<ng-template #myModal let-modal let-c="close" let-d="dismiss" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar nuevo molino</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <!-- <form [formGroup]="addForm" (ngSubmit)="newWindmillPart()"> -->
        <p>
            <label for=" name">Nombre: </label>
            <input type="text" id="name" name="newName" [(ngModel)]="newName">
        </p>
        <p>
            <label for="category">Categoría: </label>
            <select name="category" id="category" [(ngModel)]="newCategory">
                <option value="base">Base</option>
                <option value="aspa">Aspa</option>
                <option value="cuerpo">Cuerpo</option>
            </select>
        </p>
        <p>
            <label for="height">Altura: </label>
            <input type="number" id="height" [(ngModel)]="newHeight">
        </p>
        <p>
            <label for="wind">Resistencia viento: </label>
            <input type="number" id="wind" [(ngModel)]="newWind">
        </p>
        <p>
            <label for="material">Material: </label>
            <input type="text" id="material" [(ngModel)]="newMaterial">
        </p>
        <p>
            <label for="picture">Imagen URL: </label>
            <input type="file" id="picture" class="file-upload" [(ngModel)]="newPicture"
                onchange="console.log(event.target.files)">
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
            (click)="addNewItem(newName,newCategory, newHeight,newWind, newMaterial, newPicture)" data-dismiss="modal">
            Save</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(myModal)">Agregar</button>