#agregar {
    background-color: rgb(18, 103, 137);
    border-color: rgb(10, 82, 111);
    border-width: 0.1em;
    position: relative;
    margin: 60px;
    margin-top: 10px;
    z-index: 5;
    color: beige;

}

#agregar:hover {
    background-color: rgb(8, 71, 96);
}

input {
    border-color: rgb(191, 191, 191);
    border-radius: 0.4rem;
}

label {
    font-size: medium;
    font-weight: 700;
    color: rgb(4, 4, 4);
    text-shadow: 1px 1px 0px rgb(249, 249, 249);
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.btn {
    background-color: rgb(18, 103, 137);
    border-color: rgb(10, 82, 111);
    border-width: 0.1em;
    color: beige;
}

btn:hover {
    background-color: rgb(8, 71, 96);
}

h2 {

    font-weight: 700;
    margin-top: 1rem;
}