#agregar {
    background-color: #004773;
    border-color: #096096;
    border-width: 0.1em;
    position: relative;
    margin: 60px;
    margin-top: 10px;
    z-index: 5;
    color: beige;

}

#agregar:hover {
    background-color: #00304e;
}