<div class="modal-content-wrapper">
    <div class="modal-header fm">
        <h5 class="modal-title " id="staticBackdropDelete">Eliminar Usuario</h5>
        <button type="button" class="btn btn-close fr" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModal()"></button>
    </div>
    <div class="modal-body" *ngIf="usuario">
        <p class="card-text">Mail: {{usuario.mail}} </p>
        <p class="card-text">Rol: {{usuario.rol}} </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Borrar</button>
    </div>
</div>