<ng-template #modalDeleteUser let-c="close" let-d="dismiss">
    <div class="modal-header fm">
        <h2 class="modal-title " id="staticBackdropDelete">Eliminar Usuario</h2>
        <button type="button" class="btn btn-close fr" data-bs-dismiss="modalDeleteUser" aria-label="Close"
            (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body" *ngIf="usuario">
        <p class="card-text">Mail: {{usuario.mail}} </p>
        <p class="card-text">Rol: {{usuario.rol}} </p>
    </div>
    <div class="modal-footer">
        <button id="save" type="button" class="btn btn-danger" (click)="deleteUser()">Borrar</button>
    </div>
</ng-template>
<button id="delete" (click)="open(modalDeleteUser)">Eliminar</button>