<div class="card w-100 card-border mb-5" *ngIf="windmill">
    <h2 class="card-header">{{windmill.nombre}}</h2>
    <div class="card-body">
        <div *ngIf="windmill">
            <p class="card-text">Descripcion: {{windmill.descripcion}} </p>
            <p class="card-text">Estado: {{windmill.estado}} </p>
        </div>
        <div *ngIf="aspa">
            <p class="card-text">Aspa: {{aspa.nombre}} </p>
        </div>
        <div *ngIf="cuerpo">
            <p class="card-text">Cuerpo: {{cuerpo.nombre}} </p>
        </div>
        <div *ngIf="base">
            <p class="card-text">Base: {{base.nombre}}</p>
        </div>
    </div>
    <div class="card-footer">
        <app-detail-windmill-modal [molino]="windmill" [aspa]="aspa" [cuerpo]="cuerpo" [base]="base">
        </app-detail-windmill-modal>
    </div>
</div>