#catalogo {
    background-color: rgb(70, 118, 230);
    padding: 1rem;
}

#drag-drop {
    padding: 1rem;
}



.example-container {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}