<!--
   <div class="container">
    <div class="row">
        <div id="catalogo" class="col-6">
            <app-list></app-list>
        </div>
        <div class="col-5">
            <app-drag-and-drop></app-drag-and-drop>
        </div>
    </div>
</div> 
<h2>Done</h2>

        <div id="done" cdkDropList [cdkDropListData]="done" class="example-list" cdkDropListConnectedTo="todo"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag [cdkDragData]="item">
                {{item}}
            </div>
        </div>
-->

<div class="container" cdkDropListGroup>
    <div class="row">
        <div class="example-container col-sm-6">
            <div id="catalogo">
                <app-list></app-list>
            </div>
        </div>

        <div class="example-container col-sm-6">
            <div id="drag-drop">
                <app-drag-and-drop></app-drag-and-drop>
            </div>
        </div>
    </div>
</div>