.card {
    padding: 0.5rem;
    font-family: Georgia, serif;
    background-color: #e7ecef;
    margin: 1rem;
    width: 80%;

}

.card:hover {
    transform: scale(1.10);
    position: relative;
    z-index: 5;
}