<div id="container">
    <div id="login">
      <h2>Creacion de usuarios</h2>
      <h3>Ingrese las credenciales del nuevo usuario</h3>
      <form id="formulario">
        <input [(ngModel)]="mail" name="mail" type="text" placeholder="Email" />
        <input [(ngModel)]="pass" name="pass" type="text" placeholder="Contraseña" />
        <input [(ngModel)]="rol" name="rol" type="text" placeholder="Rol" />
        <button (click)="createUser(mail,pass,rol)">Crear</button>
      </form>
    </div>
  </div>